{% extends "base.html" %}
{% block title %}User Profile{% endblock %}

{% block style %}
{% endblock %}

{% block index %}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2 style="text-align: center; font-weight: bolder; ">PROFILE</h2>
        
        <!-- <div class="container mt-5">
            <h2>Profile</h2>
            
            <h2>Your Information</h2>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>

        </div> -->

        <div class="container mt-2">
            <h1>Edit Profile</h1>
            
            <form method="post" action="{% url 'edit_profile' %}" style="padding-left: 2%;padding-right: 2%;width: 100%;overflow: hidden;">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" value="{{ user.username }}" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="id_first_name">First Name:</label>
                    <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="id_last_name">Last Name:</label>
                    <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="id_email">Email:</label>
                    <input type="email" name="email" value="{{ user.email }}" class="form-control">
                </div>
                
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
            </form>
            
            
        </div>
        <p>You can change your password <a href="{% url 'password_change' %}" style="color: rgb(69, 3, 73);font-size: 3vh;font-weight: bold;">Here</a> </p>
        
        <hr>

        <div class="container mt-3">
            <h2>Delete Account</h2>
            
            <p>Are you sure you want to delete your account? This action cannot be undone.</p>
            
            <form method="post" action="{% url 'delete_account' %}">
                {% csrf_token %}
                
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
            </form>
            
            
        </div>

    </div>
{% endblock %}
